// app global css in Sass form

@font-face
  font-family: 'Montserrat SemiBold'
  font-style: normal
  font-weight: normal
  src: local('Montserrat SemiBold'), url('~assets/fonts/Montserrat-SemiBold.ttf') format('ttf')


.background
  background-color: $background

.title-line-separator
  border-bottom: 1px solid #000000
  margin-left: 10px
  height: 20px
